
# Chataigne
Chataigne/Oxipital_*/

#TouchDesigner files
Backup/
Record/
Oxipital.*.toe
*.dmp


/*/*_autosave/

Adobe Premiere Pro Auto-Save/

Adobe Premiere Pro Audio Previews/

Unity/HDRP_VFXGraph_Oxipital/Assets/OxipitalData.json

Unity/.vs/



Chataigne/Oxipital NewGen_recovered.noisette

Chataigne/crashlog.txt
